.bg_image {
    background-image: url("https://images.unsplash.com/photo-1570222094114-d054a817e56b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1205&q=80");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.contactHead {
    height: 200px;
    width: 100%;
    background-color: #f5881f;
}

.searchLogoHead{
    height: 210px;
    width: 300px;
}
.footerLink :hover {
    color: white !important;
    font-weight: bold !important;
}

.img_width_detail {
    width: 350px;
}

.brandBannerHgt {
    height: 350px;
}
.bradAboutLg{
    display: block;

}
.bradAboutSm{
    display: none;

}
.productDtlCard {
    height: 200px;
    width: 240px;
}

.productDtlCardFnttitle {
    width:200px;
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productDtlCardFnt {
    font-size: 16px;
}

 .cardHeaderH{
    border-radius: 5px ;
    transition: all .3s;
    box-shadow: 3px 5px 10px rgba(0,0,0,.3);
 }
 .cardHeaderH :hover{
    /* transform: translateY(-3px);  */
    /* box-shadow: 0 5px 20px rgba(0,0,0,.2); */
    transition: all .5s;
    /* transform: scale(0.9)  */


 }
 
 .homePcategory{
    /* width: 100% !important; */
    height: 180px;
    cursor: pointer;
 }
 .homePcategoryHead :hover{
    transform: scale(1.03)
 }
 .cardImageSearch{
    height: 150px;
    width: 250px;
}
.cardImage{
    height: 250px;
    width: 250px;
}
.cardTitle{
    width: 100%;
}@media only screen and (min-width: 1000px) {
    .faqsHead {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media only screen and (max-width: 600px) {
    .img_width_detail {
        width: 220px;
    }
    .searchLogoHead{
        height: 130px;
        width: 200px;
    }
    .brandBannerHgt {
        height: 130px;
    }
    .cardImageSearch{
        height: 100px;
        width: 200px;
    }
    .cardImage{
        height: 160px;
        width: 160px;
    }
    .homePcategory{
        height: 100px;
     }
    .cardTitle{
        width: 100%;
        font-size: 13px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .bradAboutLg{
       display: none;
    }
    .bradAboutSm{
         display: block;
    }
    .productDtlCard {
        height: 110px;
        width: 150px;
    }
    .productDtlCardFnttitle {
        width:140px;
        font-size: 13px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .productDtlCardFnt {
        font-size: 13px;
    }
}